@using Senai.OO.ProjetoFinal.Models;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Aprovação de comentários - Check Point</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/style-aprovacao.css" />
    <script src="main.js"></script>
</head>
<body>
        <header>
            <div class="container">
                <div class="banner">
                    <nav class="menu">
                        <ul>
                            <li>
                                <a href="sobre.html">Sobre nós</a>
                            </li>
                            <li>
                                <a href="contatos.html">Contato</a>
                            </li>
                            <li>
                                <a href="perguntas-frequentes.html">Suporte</a>
                            </li>
                            <li>
                                <a href="index.html">Home</a>
                            </li>
                        </ul>
                    </nav>
                    <div class="banner-opacity">
                        <div class="logo">
                            <img src="./img/logo.svg" alt="Logo checkpoint">
                        </div>
                    </div>
                </div>
        </header>
        <main>
            <h2>Aprovação de comentários</h2>
            <section id="comentarios">
                  @foreach (var item in ViewData["Comentarios"] as List<ComentarioModel>){
            <div class="coments">
                <div class="coment-1 grid-1">
                    <img src="./img/Foto de perfil.jpg" alt="Foto de perfil" class="item img">
                    <p name="comentarioUsuario" class="item comentarioUsuario">@item.Texto</p>
                    </div> 
                    <p name="nomeUsuario" class="item nomeUsuario">@item.Usuario</p>
                    <p name="dataComentario" class="item dataComentario"> @item.DataCriacao.ToShortDateString()</p>      
                    </div>
                    <div>
                        <label class="item grid">
                            <a href="/Comentario/aprovacao?id=@item.Id"><button class="aprovar" value="Aprovar"></button></a>
                            <a href="/Comentario/aprovacao?id=@item.Id"><button class="rejeitar" type="submit" value="Rejeitar"></button></a>
                        </label>
                    </div>
                  }
                </section>
                <footer>
                <div class="rodape">
                    
                </div>
                </footer>
                </section>
        </main>
</body>
</html>