<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Aprovação de comentários - Check Point</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/style-aprovacao.css" />
    <script src="main.js"></script>
</head>
<body>
        <header>
            <div class="container">
                <div class="banner">
                    <nav class="menu">
                        <ul>
                            <li>
                                <a href="sobre.html">Sobre nós</a>
                            </li>
                            <li>
                                <a href="contatos.html">Contato</a>
                            </li>
                            <li>
                                <a href="perguntas-frequentes.html">Suporte</a>
                            </li>
                            <li>
                                <a href="index.html">Home</a>
                            </li>
                        </ul>
                    </nav>
                    <div class="banner-opacity">
                        <div class="logo">
                            <img src="./img/logo.svg" alt="Logo checkpoint">
                        </div>
                    </div>
                </div>
        </header>
        <main>
            <h2>Aprovação de comentários</h2>
            <section id="comentarios">
            <div class="coments">
                <div class="coment-1 grid-1">
                    <img src="./img/Foto de perfil.jpg" alt="Foto de perfil" class="item img">
                    <p name="comentarioUsuario" class="item comentarioUsuario">Berserk (ベルセルク, Beruseruku?) é uma série
                        de mangá escrita e ilustrada por Kentaro Miura. Situado em um mundo de fantasia sombria
                        inspirado na Europa medieval, a história gira em torno do solitário Guts, um ex-mercenário e
                        agora um espadachim amaldiçoado e forçado a vagar sem descanso para sobreviver e buscar
                        vingança, e Griffith, o líder de um bando de mercenários chamado de "Bando do Falcão". Temas de
                        isolamento, traição, a ilusão do livre-arbítrio, autopreservação, e a questão de se a
                        humanidade é fundamentalmente boa ou má permeiam a história, explorando o melhor e o pior lado
                        da natureza humana. Ambos o mangá e o anime são conhecidos pelo o uso de sua violência gráfica
                        e conteúdo sexual.</p>
                    </div> 
                    <p name="nomeUsuario" class="item nomeUsuario">Ricardo</p>
                    <p name="dataComentario" class="item dataComentario"> 11/10/2000</p>      
                    </div>
                    <div>
                        <label class="item grid">
                            <button class="aprovar" type="submit" value="Aprovar"></button>
                            <button class="rejeitar" type="submit" value="Rejeitar"></button>
                        </label>
                    </div>
                </section>
                <footer>
                <div class="rodape">
                    
                </div>
                </footer>
                </section>
        </main>
</body>
</html>