<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Check Point - Plataforma digital de controle de ponto!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/style-contatos.css" />
    <script src="main.js"></script>
</head>

<body>
   <header>
        <div class="container">
            <div class="banner">
                <nav class="menu">
                    <ul>
                        <li>
                            <a>@Html.ActionLink("Sobre Nós", "sobre", "Comentario")</a>
                        </li>
                        <li>
                            <a>@Html.ActionLink("Contato", "Contato", "Comentario")</a>
                        </li>
                        <li>
                            <a>@Html.ActionLink("Suporte", "perguntas", "Comentario")</a>
                        </li>
                        <li>
                            <a >@Html.ActionLink("Home", "index", "Comentario")</a>
                        </li>
                    </ul>
                </nav>
                <div class="banner-opacity">
                    <div class="logo">
                        <img src="./img/logo.svg" alt="Logo checkpoint">
                    </div>
                </div>
            </div>

    </header>
    <main>
        <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>
        <section id="contato">
            <h2>Formulário para Contato</h2>
        >
            <div class="form">
                <input class="box1" type="text" placeholder="Nome completo">
                <input class="box1" type="text" placeholder="Cidade">
                <input class="box1" type="text" placeholder="Email">
                <input class="box1" type="text" placeholder="Telefone">
                <input class="box1" type="text" placeholder="Empresa">
                <input class="box1" type="text" placeholder="Cargo">

                <textarea class="box2" type="text" placeholder="Comentários"></textarea>
            </div>
            <button class="box3" type="button"><a href="#" style="transition: 0.25s">Enviar</a></button>
            <div class="empresa">
                <ul>
                    <li>
                        <img src="img/telefone.png" alt="Imagem de Telefone">
                        <p>Telefone</p>
                        <a href="#">(XX)xxxx-xxxx</a>
                    </li>
                    <li>
                        <img src="img/EMAIL.png" alt="Logo email">
                        <p>Email</p>
                        <a href="#">lorem.ipsulum@carfel.com</a>
                    </li>
                    <li>
                        <img src="img/redes sociais.png" alt="logo redes sociais">
                        <p>Redes sociais</p>
                        <a href="#">Facebook</a>
                    </li>
                </ul>
        </section>
        <div class="endereco">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.8875444688033!2d-46.648491284971726!3d-23.53654676656158!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5843deb99025%3A0xb23619858bc7e63e!2sEscola+SENAI+de+Inform%C3%A1tica!5e0!3m2!1spt-BR!2sbr!4v1536582981375"
                width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            <p> Endereço: Al. Barão de Limeira 539, São Paulo, SP, 01202-001</p>
        </div>
        <p>Alguma Dúvida? Acesse nossa página de
            <a href="#">perguntas frequentes</a>
        </p>
    </main>
    <footer id="rodapé">
        <div class="rodape-container">
            <ul>
                <h3>CARFEL</h3>
                <li>
                    <a href="#planos" style="transition: all .25s linear;">Comprar</a>
                </li>
                <li>
                    <a href="#">Login</a>
                </li>
                <li>
                    <a href="perguntas-frequentes.html">Perguntas Frequentes</a>
                </li>
                <li>
                    <a href="contatos.html">Como chegar</a>
                </li>
            </ul>
            <ul>
                <h3>PARA EMPRESAS</h3>
                <li>
                    <a href="sobre.html">Sobre nós</a>
                </li>
                <li>
                    <a href="#planos" style="transition: all .25s linear;">Comprar</a>
                </li>
                <li>
                    <a href="#">Termos de uso</a>
                </li>
            </ul>
    
            <ul>
                <h3>REDES SOCIAIS</h3>
                <li>
                    <a href="#">Facebook</a>
                </li>
                <li>
                    <a href="#">Twitter</a>
                </li>
                <li>
                    <a href="#">Google+</a>
                </li>
                <li>
                    <a href="#">Instagram</a>
                </li>

            </ul>
        </div>
    </footer>
</body>

</html>