@using Senai.OO.ProjetoFinal.Models;
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Check Point - Plataforma digital de controle de ponto!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/style-index.css" />
    <script src="main.js"></script>
</head>
<body>
    <header>
        <div class="container">
            <div class="banner">
                <nav class="menu">
                    <ul>
                        <li>
                            <a href="sobre.html">Sobre nós</a>
                        </li>
                        <li>
                            <a href="contatos.html">Contato</a>
                        </li>
                        <li>
                            <a href="perguntas-frequentes.html">Suporte</a>
                        </li>
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                    </ul>
                </nav>
                <div class="banner-opacity">
                    <div class="logo">
                        <img src="./img/logo.svg" alt="Logo checkpoint">
                    </div>
                </div>
            </div>
    </header>
    <main>
        <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>
        <div class="container-titulo">
            <h2>Funcionalidades</h2>
        </div>
        <section id="funcionalidades">
            <div class="topico-container">
                <div class="topico-img">
                    <img src="./img/pc.svg" alt="Monitor de computador">
                    <img src="./img/home.svg" style="scale: 1.3" alt="Casa">
                </div>
                <div class="topicos">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora, a provident, blanditiis
                        laboriosam
                        deleniti repellendus dignissimos nobis obcaecati.</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora, a provident, blanditiis
                        laboriosam
                        deleniti repellendus dignissimos nobis obcaecati.</p>

                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora, a provident, blanditiis
                        laboriosam
                        deleniti repellendus dignissimos nobis obcaecati.</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora, a provident, blanditiis
                        laboriosam
                        deleniti repellendus dignissimos nobis obcaecati.</p>
                </div>
            </div>
        </section>
        <section id="planos">
            <div class="planos-container">
                <h2>Planos</h2>
                <ul>
                    <div class="free">
                        <img src="./img/free.jpg" alt="Plano free">
                        <li>Free</li>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora ratione consequuntur animi
                            dignissimos
                            perspiciatis accusantium aut omnis at molestias, alias eius dicta cum labore ad suscipit
                            non
                            praesentium repellendus quis?</p>
                        <button type="button">
                            <a href="#">Adquirir</a>
                        </button>
                        <!--Aqui inserir botão de adquirir-->
                    </div>
                    <div class="pago">
                        <img src="img/economico.png" alt="Plano economico">
                        <li>Pago</li>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, harum ratione, ad dolorum
                            consequuntur
                            quod ullam mollitia aut magni vel dolorem soluta, deserunt beatae aperiam necessitatibus
                            perferendis
                            inventore voluptatibus commodi!</p>
                        <button type="button">
                            <a href="#">Comprar</a>
                        </button>
                        <!--Aqui inserir botão de adquirir-->
                    </div>
                    <div class="premium">
                        <img src="img/premium.png" alt="Plano premium">
                        <li>Premium</li>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, harum ratione, ad dolorum
                            consequuntur
                            quod ullam mollitia aut magni vel dolorem soluta, deserunt beatae aperiam necessitatibus
                            perferendis
                            inventore voluptatibus commodi!</p>
                        <button type="button">
                            <a href="#">Comprar</a>
                        </button>
                        <!--Aqui inserir botão de adquirir-->
                    </div>
                </ul>
            </div>
        </section>
        <form id="comentarios" action="/Comentario/Cadastrar" method="POST">
            <div class="coments">
                <h2>Comentários</h2>
        @foreach (var item in ViewData["Comentarios"] as List<ComentarioModel>){
                <div class="coment-1 grid-1">
                    <img src="./img/Foto de perfil.jpg" alt="Foto de perfil" class="item img">
                    <p name="comentarioUsuario" class="item comentarioUsuario">@item.Texto</p>
                    </div> 
                    <p name="nomeUsuario" class="item nomeUsuario">@item.Usuario</p>
                    <p name="dataComentario" class="item dataComentario"> @item.DataCriacao</p>          
        }
                <div class="botao"><button>Exibir mais</button></div>
                <h3>Nos dê sua opinião sobre os nossos produtos!</h3>
                <div class="section-cad-coment">
                <div class="cad-coment grid-3">
                    <img src="./img/Foto de perfil.jpg" class="item img">
                    <p class="item user"></p>
                    <textarea name="coment" class="item coment"></textarea>
                    <input type="submit" value="Enviar">
                </div>
             
            </div>
            </div>
           @ViewBag.Mensagem
        </form>
        <section id="sobre">
            <div class="container-sobre">
                <h2>Sobre a Empresa</h2>
                <div class="conteudo">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum accusantium sit unde, corrupti
                        amet, ipsum
                        quae esse nesciunt laborum cum nulla libero aut explicabo eaque nostrum labore molestiae
                        voluptate
                        commodi? Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum accusantium sit unde,
                        corrupti
                        amet, ipsum quae esse nesciunt laborum cum nulla libero aut explicabo eaque nostrum labore
                        molestiae
                        voluptate commodi? Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                    <p>
                        <img src="img/carfel.png" alt="Design carfel">
                    </p>
                </div>
                <a href="sobre.html">Conheça nossa história</a>
            </div>
        </section>
    </main>
    <footer id="rodapé">
        <div class="rodape-container">
            <ul>
                <h3>CARFEL</h3>
                <li>
                    <a href="#planos" style="transition: all .25s linear;">Comprar</a>
                </li>
                <li>
                    <a href="#">Login</a>
                </li>
                <li>
                    <a href="perguntas-frequentes.html">Perguntas Frequentes</a>
                </li>
                <li>
                    <a href="contatos.html">Como chegar</a>
                </li>
            </ul>
            <ul>
                <h3>PARA EMPRESAS</h3>
                <li>
                    <a href="sobre.html">Sobre nós</a>
                </li>
                <li>
                    <a href="#planos" style="transition: all .25s linear;">Comprar</a>
                </li>
                <li>
                    <a href="#">Termos de uso</a>
                </li>
            </ul>
            <ul>
                <h3>REDES SOCIAIS</h3>
                <li>
                    <a href="#">Facebook</a>
                </li>
                <li>
                    <a href="#">Twitter</a>
                </li>
                <li>
                    <a href="#">Google+</a>
                </li>
                <li>
                    <a href="#">Instagram</a>
                </li>

            </ul>
        </div>
    </footer>
</body>

</html>