<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Check Point - Plataforma digital de controle de ponto!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/style-perguntas.css" />
    <script src="main.js"></script>
</head>

<body>
    <header>
        <div class="container">
            <div class="banner">
                <nav class="menu">
                    <ul>
                        <li>
                            <a href="sobre.html">Sobre nós</a></li>
                        <li>
                            <a href="contatos.html">Contato</a></li>
                        <li>
                            <a href="perguntas-frequentes.html">Suporte</a></li>
                        <li>
                            <a href="index.html">Home</a></li>
                    </ul>
                </nav>
                <div class="banner-opacity">
                    <div class="logo">
                        <img src="./img/logo.svg" alt="Logo checkpoint">
                    </div>
                </div>
            </div>
    </header>
    <main>
        <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>
        <section class="perguntas">
            <div class="perg">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut impedit quaerat similique mollitia veniam inventore
                    eos quisquam! Minus magnam, quibusdam eius iusto, illo beatae, eum provident reiciendis inventore ad
                    incidunt.
                </p>
            </div>
            <div class="respostas">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat nulla in nesciunt! Adipisci facere autem
                    dolorem illo iste.</p>
            </div>
            <div class="perg">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut impedit quaerat similique mollitia veniam inventore
                    eos quisquam! Minus magnam, quibusdam eius iusto, illo beatae, eum provident reiciendis inventore ad
                    incidunt.
                </p>
            </div>
            <div class="respostas">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat nulla in nesciunt! Adipisci facere autem
                    dolorem illo iste.</p>
            </div>
            <div class="perg">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut impedit quaerat similique mollitia veniam inventore
                    eos quisquam! Minus magnam, quibusdam eius iusto, illo beatae, eum provident reiciendis inventore ad
                    incidunt.
                </p>
            </div>
            <div class="respostas">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat nulla in nesciunt! Adipisci facere autem
                    dolorem illo iste.</p>
            </div>
        </section>
        <section id="Suporte">
            <div class="problema">
                <button type="button">Problema X</button>
                <button type="button">Problema Y</button>
                <button type="button">Problema Z</button>
            </div>
            <div class="container-problema">
                <!--Começo do slide-->
                <h2>Passo à Passo</h2>
                <div class="img-slide">
                    <img class='photo' src="./img/passo (1).jpg" alt="Passo à Passo" />
                </div>
                <div class="img-slide">
                    <img class='photo' src="img/passo (2).jpg" alt="Passo à Passo" />
                </div>
                <div class="img-slide">
                    <img class='photo' src="img//passo (3).jpg" alt="Passo à Passo" />
                </div>
            </div>
        </section>
        <div>
            <p>Não conseguiu resolver seu problema?
                <a href="#">Contate-nos!</a>
            </p>
        </div>
    </main>
    <footer id="rodapé">
        <div class="rodape-container">
            <ul>
                <h3>CARFEL</h3>
                <li>
                    <a href="#planos" style="transition: all .25s linear;">Comprar</a>
                </li>
                <li>
                    <a href="#">Login</a>
                </li>
                <li>
                    <a href="perguntas-frequentes.html">Perguntas Frequentes</a>
                </li>
                <li>
                    <a href="contatos.html">Como chegar</a>
                </li>
            </ul>
            <ul>
                <h3>PARA EMPRESAS</h3>
                <li>
                    <a href="sobre.html">Sobre nós</a>
                </li>
                <li>
                    <a href="#planos" style="transition: all .25s linear;">Comprar</a>
                </li>
                <li>
                    <a href="#">Termos de uso</a>
                </li>
            </ul>
            <ul>
                <h3>REDES SOCIAIS</h3>
                <li>
                    <a href="#">Facebook</a>
                </li>
                <li>
                    <a href="#">Twitter</a>
                </li>
                <li>
                    <a href="#">Google+</a>
                </li>
                <li>
                    <a href="#">Instagram</a>
                </li>

            </ul>
        </div>
    </footer>
</body>

</html>